<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Ingredients</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-11 ">
                            <h1 class="panel-title">Ingredients</h1>
                        </div>

                        <div class="col-md-1">
                            <a class="btn btn-default" href="#"
                               role="button"
                               th:href="@{'/recipe/' + ${ingredients.iterator().next().getRecipeId()} + '/ingredient/new'}">New</a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">

                    <div class="table-responsive" th:if="${not #lists.isEmpty(ingredients)}">
                        <table class="table table-hover ">

                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>

                            <tr th:each="ingredient : ${ingredients}">
                                <td th:text="${ingredient.getId()}"></td>
                                <td th:text="${ingredient.getAmount()} + ' ' + ${ingredient.getUom().getDescription()} + ' ' + ${ingredient.getDescription()}"></td>
                                <td>
                                    <a th:href="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient/' + ${ingredient.getId()} + '/show'}">View</a>
                                </td>
                                <td>
                                    <a th:href="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient/' + ${ingredient.getId()} + '/update'}">Update</a>
                                </td>
                                <td>
                                    <a th:href="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient/' + ${ingredient.getId()} + '/delete'}">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>